<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Microsoft.Dynamics.Retail.Pos.BlankOperations.Properties.Settings.AXPOS2012ConnectionString"
            connectionString="Data Source=IBM2;Initial Catalog=AXPOS2012;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Microsoft.Dynamics.Retail.Pos.BlankOperations.Properties.Settings.AX2012POSConnectionString"
            connectionString="Data Source=NN82\RETAILPOS;Initial Catalog=AX2012POS;Integrated Security=True" />
        <add name="Microsoft.Dynamics.Retail.Pos.BlankOperations.Properties.Settings.POSANDHERIConnectionString"
            connectionString="Data Source=JEWELSHO;Initial Catalog=POSANDHERI;User ID=sa;Password=jewel@123"
            providerName="System.Data.SqlClient" />
        <add name="Microsoft.Dynamics.Retail.Pos.BlankOperations.Properties.Settings.POS8420ConnectionString"
            connectionString="Data Source=DT0015941;Initial Catalog=POS8420;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Microsoft.Dynamics.Retail.Pos.BlankOperations.Properties.Settings.POSANDHERIConnectionString1"
            connectionString="Data Source=DT0015941;Initial Catalog=POSANDHERI;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Microsoft.Dynamics.Retail.Pos.BlankOperations.Properties.Settings.POSSTR1ConnectionString"
            connectionString="Data Source=IBM3-HV1;Initial Catalog=POSSTR1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Microsoft.Dynamics.Retail.Pos.BlankOperations.Properties.Settings.POSSTR1ConnectionString1"
            connectionString="Data Source=IBM2\SQL2012;Initial Catalog=POSSTR1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Microsoft.Dynamics.Retail.Pos.BlankOperations.Properties.Settings.POSSTR1ConnectionString2"
            connectionString="Data Source=IBM2\SQL2012;Initial Catalog=POSSTR1;User ID=sa"
            providerName="System.Data.SqlClient" />
        <add name="Microsoft.Dynamics.Retail.Pos.BlankOperations.Properties.Settings.SAMRASTR1ConnectionString"
            connectionString="Data Source=IBM2\SQL2012;Initial Catalog=SAMRASTR1;User ID=sa;Password=nimbus@123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>