<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Microsoft.Dynamics.Retail.Offline.Service.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Microsoft.Dynamics.Retail.Offline.Service.Properties.Settings.LocalDBConnectionString"
            connectionString="" />
        <add name="Microsoft.Dynamics.Retail.Offline.Service.Properties.Settings.RemoteDBConnectionString"
            connectionString="Data Source=NN82\RETAILPOS;Initial Catalog=Store82;Integrated Security=True;Persist Security Info=False;Pooling=True;Encrypt=True;TrustServerCertificate=True" />
    </connectionStrings>
    <applicationSettings>
        <Microsoft.Dynamics.Retail.Offline.Service.Properties.Settings>
            <setting name="SyncInterval" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="MemoryDataCacheSizeKB" serializeAs="String">
                <value>25600</value>
            </setting>
            <setting name="SyncInParallel" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="StoreID" serializeAs="String">
                <value>Store82</value>
            </setting>
            <setting name="TerminalID" serializeAs="String">
                <value>000002</value>
            </setting>
        </Microsoft.Dynamics.Retail.Offline.Service.Properties.Settings>
    </applicationSettings>
</configuration>